
# DNS config
dns_zone = "tintinho.net"
dns_lab_domain = "lab.tintinho.net"

# CA config
ca_organization = "Tintin Ho HomeLab"
ca_common_name = "Tintin Ho HomeLab Root CA"

# LDAP config
ldap_organization = "Tintin Ho HomeLab"

# Access Keys
digitalocean_api_token = "replace this with your token"
zerossl_api_key = "replace this with your key"
